TEMPMAIL_TYPE=moemail

MOEMAIL_API_KEY=your_moemail_api_key_here
MOEMAIL_BASE_URL=https://moemail

TEMPMAILHUB_API_KEY=your_tempmailhub_api_key_here
TEMPMAILHUB_BASE_URL=https://tempmailhub
TEMPMAILHUB_CHANNEL=minmail

PROXY_URL=

REGISTER_COUNT=1

HEADLESS=false

GPTLOAD_API_URL=https://gptload
GPTLOAD_AUTH_KEY=passwd
GPTLOAD_CHANNEL_NAME=Dreamina

SERVER_API_KEY=dreamina-secret-key
